.vs/
bin/
build/
necromancer/Amalgam
necromancer/source-sdk-2013-master
necromancer/tf2-base
necromancer/src/.kiro/settings/mcp.json
.kiro/steering/kiro-coder-persona.md
doucmented.txt
other projects/
source_sdk_2013/
pixel_editor.html


